@charset "utf-8";

* {
  box-sizing: border-box;
  overflow: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: sans-serif;
}

/* 무지개 오버레이 */
#rainbow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* 처음엔 아래만 보이게 */
  -webkit-mask-image: linear-gradient(to top, black 0%, transparent 50%);
  mask-image: linear-gradient(to top, black 0%, transparent 50%);
  -webkit-mask-size: 100% 200%;
  mask-size: 100% 200%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: fadeUpMask 3s ease-in-out forwards;
}

#rainbow-overlay img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 해모양 */
.sun {
  width: 60px;
  height: 60px;
  animation: spin 4s linear infinite;
}


@keyframes fadeUpMask {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 0% 100%;
    mask-position: 0% 100%;
  }
}

/* 해모양 도는 거 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 본문은 처음에 안 보이게 */
#main-content {
  transform: translateY(70px);
  transition: opacity 1s ease, transform 1s ease;
  text-align: center;
  color: var(--main-color-bk);
  font-size: 30px;
  line-height: 3rem;
  z-index: 100;
}

/* 무지개 걷히고 본문 등장 */
/* body.loaded #main-content {
  opacity: 1;
  transform: translateY(0);
} */