@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
/* 한글 손글씨 느낌 폰트 */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#con1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#world {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  pointer-events: auto;
  transition: opacity 0.7s ease;
}

#customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--main-color-re);
  /* 원하는 컬러 */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  display: none;
  transform: translate(-50%, -50%);
}

#cursorCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9998;
  /* #customCursor(9999) 아래, Matter.js(기본) 위 */
}

#cursorText {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(12px, -12px);
  font-size: 16px;
  color: #ff66cc;
  font-weight: bold;
  z-index: 9999;
  pointer-events: none;
  white-space: nowrap;
  display: none;
}


main h2 {
  font-size: clamp(3rem, 10vw, 10rem);
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-family: var(--main-font-pop);
}

/* con2 팀프로젝트 */
#con2 {
  width: 100%;
  padding-top: 400px;
  position: relative;
}

#con2 h2 {
  color: var(--main-color-or);
  padding: 0 0 50px 150px;
}

.txtAniBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--main-color-or);
  color: var(--main-color-wh);
  font-size: 30px;
  line-height: 1.2;
  border-top: 1px solid var(--main-color-bk);
  border-bottom: 1px solid var(--main-color-bk);
}

.txtAniBox ul {
  display: flex;
  white-space: nowrap;
  gap: 30px;
  padding: 20px;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* con2 프로젝트 */
#con2 .slide {
  width: 100%;
}

#con2 .project {
  width: 100%;
  padding-top: 150px;
  overflow: hidden;
  position: relative;
}

/* 슬라이드 래퍼 */
.project_list {
  display: flex;
  align-items: center;
}

/* Swiper 공통 설정 */
.swiper {
  overflow: visible;
  /* padding: 60px 0; */
  position: relative;
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* 슬라이드 기본값 */
.swiper-slide {
  /* width: 360px; */
  opacity: 0.4;
  transform: scale(0.85);
  transition: all 0.3s ease;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* 활성 슬라이드 */
.swiper-slide-active {
  width: 480px;
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}


/* 이미지 */
.list img {
  border-radius: 20px;
  width: 100%;
  display: block;
}

.project_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 50px;
  opacity: 0;
  height: 0;
}

.swiper-slide-active .project_content {
  opacity: 1;
  visibility: visible;
  padding: 50px;
  /* 원래대로 복구 */
  height: 100%;
}

.project_content .link {
  display: flex;
  gap: 20px;
}



.project_content .link a {
  display: block;
  width: 100%;
  height: 100%;
}


.project_content .link .landing,
.project_content .link .web {
  width: 150px;
  height: 50px;
  background: var(--sub-color-gray);
  opacity: 0.8;
  color: var(--main-color-wh);
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  transition: .6s;
  /* transform: scale(0.8); */
}

.project_content .link .landing:hover,
.project_content .link .web:hover {
  opacity: 1;
  background: var(--main-color-or);
  box-shadow: 2px 2px 10px var(--main-color-or);
}


/* 기본적으로 숨김 */
.list_caption {
  display: none;
}

/* 활성화된 슬라이드에서만 보이게 */
.swiper-slide-active .list_caption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.list_caption h3 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

.list_caption span {
  font-size: 25px;
  font-weight: 500;
}

.list_caption p {
  font-size: 18px;
  color: var(--sub-color-gray);
}

/* 버튼 위치 조정 */
.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  /* background: white; */
  border-radius: 50%;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: calc(50% - 550px);
  /* 활성 슬라이드 기준 바깥쪽 */
}

.swiper-button-next {
  right: calc(50% - 550px);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px;
  color: var(--main-color-or);
}

/* 네비게이션 바 위치 조정 */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
  position: relative;
  top: -20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 30px;
  background: var(--main-color-or);
  border-radius: 20px;
}

/* 개인 프로젝트 */
#con3 {
  width: 100%;
  padding-top: 250px;
  position: relative;
}

#con3 .tit {
  width: 100%;
}

#con3 .tit h2 {
  color: var(--main-color-ye);
}

#con3 .tit p {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

#con3 .personal_project_all .elements {
  width: 100%;
  padding-top: 120px;
}

#con3 .personal_project_all .elements .elem.el1 {
  border-top: 1px solid;
}

#con3 .personal_project_all .elements .elem a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 60px 0;
  position: relative;
}

#con3 .personal_project_all .elements .elem img {
  position: absolute;
  width: 700px;
  height: 500px;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
}

#con3 .personal_project_all .elements .elem:hover h3 {
  color: var(--main-color-ye);
}

#con3 .personal_project_all .elements .elem h3 {
  font-size: 60px;
  position: relative;
  display: inline-block;
  /* 텍스트 크기에 맞추기 */
  padding-right: 80px;
}

#con3 .personal_project_all .elements .elem h3::after {
  content: "⇀";
  /* 여기서 화살표 추가! */
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 60px;
  font-weight: 100;
}

#con3 .personal_project_all .elements .elem p {
  font-size: 20px;
}

/* 프로필 + 스킬 */
#con4 {
  width: 100%;
  /* height: 100vh; */
  padding-top: 400px;
  position: relative;
}

#con4 .narrative h2 {
  color: var(--main-color-gr);
}

/* 프로필 풍선 */
#con4 .narrative ul.ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#con4 .narrative ul.ellipse li {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

#con4 .narrative ul li:nth-child(1) {
  width: 200px;
  height: 200px;
  background: url(../img/narr01.png) no-repeat center/contain;
  position: absolute;
  left: 26%;
  bottom: 34%;
  transform: rotate(38deg);
}

#con4 .narrative ul li:nth-child(2) {
  width: 100px;
  height: 100px;
  background: url(../img/narr02.png) no-repeat center/contain;
  left: 24%;
  bottom: 34%;
  animation: bounceUp 2s ease-in-out infinite;
}

#con4 .narrative ul li:nth-child(3) {
  width: 350px;
  width: 350px;
  background: url(../img/narr03.png) no-repeat center/contain;
  right: 6%;
  bottom: -10%;
  z-index: -99;
}

#con4 .narrative ul li:nth-child(4) {
  width: 170px;
  height: 180px;
  background: url(../img/narr04.png) no-repeat center/contain;
  right: 22%;
  bottom: 30%;
  animation: slashMotion 0.8s infinite ease alternate;
}

@keyframes bounceUp {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

#con4 .me {
  width: 100%;
  display: flex;
  gap: 80px;
  padding-top: 100px;
}

#con4 .me .profill {
  width: 500px;
  height: 500px;
}

#con4 .me .profill img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 500px;
}

#con4 .me .txt {
  font-size: 30px;
  line-height: 3rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}

#con4 .me .txt b {
  font-weight: 500;
  color: var(--main-color-gr);
}

#con4 article h2 {
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -2px;
  padding-top: 100px;
}

/* 스킬 */
#con4 .skill_all {
  width: 100%;
  display: flex;
  color: var(--main-color-bk);
  padding-top: 80px;
}

#con4 .skill_all ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 가로 4열 */
  gap: 60px 80px;
  /* [행 간격] [열 간격] */
}

#con4 .skill_all ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

#con4 .skill_all ul li .num,
#con4 ul li .num span {
  font-size: 25px;
  font-weight: 600;
}

#con4 ul li .num .slash {
  display: inline-block;
  animation: slashMotion 0.8s infinite ease alternate;
  transform-origin: center;
  color: var(--main-color-gr);
  /* position: absolute;
  top: -10px;
  left: 35px; */
}

@keyframes slashMotion {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0deg);
  }

  20% {
    transform: translate3d(0px, 0px, 0px) rotate(3deg);
  }

  40% {
    transform: translate3d(0px, 0px, 0px) rotate(6deg);
  }

  60% {
    transform: translate3d(0px, 0px, 0px) rotate(9deg);
  }

  80% {
    transform: translate3d(0px, 0px, 0px) rotate(12deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(15deg);
  }
}

#con4 ul li .program {
  display: flex;
  align-items: center;
  gap: 15px;
}

#con4 .left {
  position: relative;
  width: 100px;
  height: 100px;
}

#con4 .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

#con4 .border_svg {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
}

#con4 ul li .program .right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#con4 ul li .program .right h3 {
  font-size: 40px;
  font-weight: 600;
}

#con4 ul li .program .right p {
  font-size: 18px;
  color: var(--sub-color-gray);
}

/* con5 강점 */
#con5 {
  width: 100%;
  /*   height: 100vh; */
  padding-top: 400px;
}

#con5 h2 {
  color: var(--main-color-bl);
  padding-bottom: 30px;
}

#con5 span {
  font-size: 25px;
  font-weight: 200;
  line-height: 2.4rem;
  color: var(--sub-color-gray);
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 400px;
}

.card-wrapper {
  width: 400px;
  height: 400px;
}

.rotate_card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.front {
  background-color: #4a90e2;
  color: white;
}

.front>p {
  font-size: 35px;
  font-weight: 600;
  line-height: 3rem;
  padding-top: 50px;
}

.back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border: 1px solid var(--sub-color-blue);
}

.back>p {
  font-size: 25px;
  font-weight: 200;
  line-height: 2rem;
  padding-top: 50px;
  color: var(--sub-color-blue);
}

.back>.bg {
  background: var(--main-color-bl);
}

.label {
  width: 100%;
  height: 60px;
  background: var(--sub-color-blue);
  color: var(--main-color-wh);
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
}

.label ul {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.label ul li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.label ul li:nth-child(1) {
  background: var(--main-color-ye);
}

.label ul li:nth-child(2) {
  background: var(--main-color-or);
}

/* con6 마지막 */
#con6 {
  width: 100%;
  height: 100vh;
  background: var(--sub-color-purple);
  position: relative;
  overflow: hidden;
}

#con6 .content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* 세로 정렬 방향 */
  justify-content: center;
  /* 세로 가운데 정렬 */
  z-index: 1;
}

#con6 .content>img {
  width: 200%;
  /* height: 900px; */
  object-fit: cover;
  position: absolute;
  left: -30%;
  top: 10%;
  z-index: -999;
}

#con6 h2 {
  position: absolute;
  right: 10%;
  bottom: 20%;
  color: var(--main-color-wh);
  opacity: 0.1;
  filter: blur(2px);
  font-size: 200px;
  font-weight: 600;
  text-align: center;
}

#con6 .text {
  font-size: 50px;
  font-weight: 100;
  color: var(--main-color-wh);
  line-height: 4rem;
  z-index: 1;
  overflow: hidden;
  /* white-space: pre-line; */
}

#con6 .text p {
  margin: 0;
  padding: 0;
  will-change: contents;
}

#con6 .text span {
  background: linear-gradient(85deg,
      #e94235 15%,
      #ff6d00 30%,
      #fabb05 45%,
      #34a853 60%,
      #4285f4 80%,
      #9b51e0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

#con6 .sns {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 10;
}

#con6 .sns ul {
  display: flex;
  gap: 20px;
}

#con6 .sns ul li a img {
  width: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#con6 .sns ul li a:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

