@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream2.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream4.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream6.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream8.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream';
    src: url('font/AnyConv.com__SCDream9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}